<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://hub.qovery.com/docs/getting-started/what-is-qovery/"><span class="glyphicon glyphicon-user"></span> How Qovery Works</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.scaleway.com/en/docs/"><span class="glyphicon glyphicon-book"></span> Scaleway Documentation</a>
      </li>
    </ul>
  </div>
</nav>
