<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Qovery on Scaleway</h1>
    <p>This is a sample Node application deployed to Scaleway using Qovery.</p>
    <p>Hello Andrea</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of Qovery, head over to the <a href="https://hub.qovery.com/guides/getting-started/deploy-your-first-application" class="alert-link">Hello World. Deploy your first application.</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Scaleway, using Qovery to deploy <a href="https://github.com/arno-scw/node-js-getting-started">this repository</a>.</li>

        <li>First, a Scaleway account was created and credentials added to Qovery.</li>
        <li>Then a cluster was created on Scaleway by Qovery deployment engine.</li>
        <li>Then a project and application was created on Qovery and deployed on Scaleway.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Follow this guide to create your Scaleway account: <a href="https://www.scaleway.com/en/docs/console/my-account/quickstart/">My Account - Quickstart</a></li>
        <li>Follow this guide for the integration of Scaleway in Qovery: <a href="https://hub.qovery.com/guides/advanced/guide-scaleway/">Deploy on your Scaleway account</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="alert alert-info text-center" role="alert">
    This application was forked from Heroku tutorial found <a href="https://github.com/heroku/node-js-getting-started">here</a>.
  </div>
</div>


</body>
</html>
